@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap');

/* Configuraçao geral */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Inter', sans-serif;
}


/* Header */


header{
    background-color: #FFF9C9;
    height: 90px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    position: fixed;
    top: 0;
}

header #logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

header #foto:hover{
    background-color: #1d5a7900;
}

header a{
    color: #2D4356;
    text-decoration: none;
    transition: 0.5s ease-out all;
}

header a:hover{
    color: #2D4356;
    text-decoration: none;
    background-color: #2d435620;
    border-radius: 10px;
    transition: 0.5s ease-in all;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF9C9;
    max-width: 100%;
    height: 40px;
    color: #FFFFFF;
    left: 0;
    right: 0;
    position: fixed;
    top: 90px;
}

nav .dropdown a{
    padding-right: 20px;
    color: #1D5B79;
    text-decoration: none;
}

nav a:hover{
    color: #0c3042;
    text-decoration: none;
}


/* fim header */

/* main */

main{
    background-color: #EFFBFF;
    max-width: 100%;
    height: 80vh;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cadastrar{
    display: flex;
    flex-direction: column;
    border: 2px solid #0c3042;
    padding: 30px;
    border-radius: 10px;
    background-color: #d8eff6;
}

Main input{
    border: 1px solid #F8D800;
    border-radius: 10px;
    height: 40px;
    color: #1D5B79;
    width: 500px;
    padding-left: 30px;
}

main label{
    margin-top: 15px;
    color: #1D5B79;
}

main h1{
    color: #2D4356;
}

main p{
    text-align: center;
    margin-top: 20px;
}

main #button{
    height: 30px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: #74dfff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;  
}

main #button:hover{
    background-color: #53d3f9;
    cursor: pointer;
    border: 1px solid #0c3042;
}